--- Day 9: Mirage Maintenance ---

You ride the camel through the sandstorm and stop where the ghost's maps told you to stop. The sandstorm subsequently subsides, somehow seeing you standing at an oasis!

The camel goes to get some water and you stretch your neck. As you look up, you discover what must be yet another giant floating island, this one made of metal! That must be where the parts to fix the sand machines come from.

There's even a hang glider partially buried in the sand here; once the sun rises and heats up the sand, you might be able to use the glider and the hot air to get all the way up to the metal island!

While you wait for the sun to rise, you admire the oasis hidden here in the middle of Desert Island. It must have a delicate ecosystem; you might as well take some ecological readings while you wait. Maybe you can report any environmental instabilities you find to someone so the oasis can be around for the next sandstorm-worn traveler.

You pull out your handy Oasis And Sand Instability Sensor and analyze your surroundings. The OASIS produces a report of many values and how they are changing over time (your puzzle input). Each line in the report contains the history of a single value. For example:
```
0 3 6 9 12 15
1 3 6 10 15 21
10 13 16 21 30 45
```
To best protect the oasis, your environmental report should include a prediction of the next value in each history. To do this, start by making a new sequence from the difference at each step of your history. If that sequence is not all zeroes, repeat this process, using the sequence you just generated as the input sequence. Once all of the values in your latest sequence are zeroes, you can extrapolate what the next value of the original history should be.

In the above dataset, the first history is 0 3 6 9 12 15. Because the values increase by 3 each step, the first sequence of differences that you generate will be 3 3 3 3 3. Note that this sequence has one fewer value than the input sequence because at each step it considers two numbers from the input. Since these values aren't all zero, repeat the process: the values differ by 0 at each step, so the next sequence is 0 0 0 0. This means you have enough information to extrapolate the history! Visually, these sequences can be arranged like this:
```
0   3   6   9  12  15
  3   3   3   3   3
    0   0   0   0
```
To extrapolate, start by adding a new zero to the end of your list of zeroes; because the zeroes represent differences between the two values above them, this also means there is now a placeholder in every sequence above it:
```
0   3   6   9  12  15   B
  3   3   3   3   3   A
    0   0   0   0   0
```
You can then start filling in placeholders from the bottom up. A needs to be the result of increasing 3 (the value to its left) by 0 (the value below it); this means A must be 3:
```
0   3   6   9  12  15   B
  3   3   3   3   3   3
    0   0   0   0   0
```
Finally, you can fill in B, which needs to be the result of increasing 15 (the value to its left) by 3 (the value below it), or 18:
```
0   3   6   9  12  15  18
  3   3   3   3   3   3
    0   0   0   0   0
```
So, the next value of the first history is 18.

Finding all-zero differences for the second history requires an additional sequence:
```
1   3   6  10  15  21
  2   3   4   5   6
    1   1   1   1
      0   0   0
```
Then, following the same process as before, work out the next value in each sequence from the bottom up:
```
1   3   6  10  15  21  28
  2   3   4   5   6   7
    1   1   1   1   1
      0   0   0   0
```
So, the next value of the second history is 28.

The third history requires even more sequences, but its next value can be found the same way:
```
10  13  16  21  30  45  68
   3   3   5   9  15  23
     0   2   4   6   8
       2   2   2   2
         0   0   0
```
So, the next value of the third history is 68.

If you find the next value for each history in this example and add them together, you get 114.

Analyze your OASIS report and extrapolate the next value for each history. What is the sum of these extrapolated values?

In [26]:
with open("input.txt","r") as f:
    lines = f.readlines()

In [2]:
test_lines = [
"0 3 6 9 12 15",
"1 3 6 10 15 21",
"10 13 16 21 30 45"
]

In [23]:
def create_diff_list(vals_list):
    output_list = []
    for i in range(len(vals_list)-1):
        output_list.append(vals_list[i+1]-vals_list[i])
    return output_list

def all_zeros(vals_list):
    return sum(vals_list)==0

In [43]:
grand_total = 0
for line in lines:
    vals_array = []
    values = line.replace("\n","").split(" ")
    values = [int(x) for x in values]
    vals_array.append(values)
    prev_line = values
    while(1):
        next_line = create_diff_list(prev_line)
        vals_array.append(next_line)
        if all_zeros(next_line):
            break
        prev_line=next_line
    total =0
    for i in range(len(vals_array)-2,-1,-1):
        total += vals_array[i][-1]
    print(total)
    grand_total += total
grand_total

-115364
23883489
1303842
21162847
7204479
23126952
-84
-2123405
18801927
2953
-402903
19874406
113466
1188164
10578095
7587139
16965388
19074
2021
20324494
3946
18141868
19129902
5120580
78009
15678607
19817609
24117689
1014452
4541719
7749651
-57369
29171835
1560879
12336789
401733
5543310
3426754
32761587
1481652
-78
6587294
3609139
4169
17294142
3185
25656678
18332926
16561977
28144026
175192
6661
18452974
11953406
100824
238
-4463
16255680
10807168
225449
11442283
5500307
799742
101397
11441709
91413
5375920
30359467
20671
33063474
985965
25064149
14865223
1034013
29604685
859822
2709622
443076
24973139
4502863
25077356
28356584
4031859
22929179
53027
10151861
18035731
-38655
10467376
19847035
646
11474210
3145394
8884242
610449
10389951
19801343
29723165
20612196
13738286
20543907
19153964
18074520
97675
18869
3319
2910810
8256888
-121950
21418479
22677055
130
-16
1418010
48434
-568
23047213
-131968
1170348
1044059
9897929
273406
-42291
13065633
1830519
31679414
1569604
-92
259
19155605
23493815
371
42500
12642274
147119
19820158
20226309
2463429
5643459
8767299
11015215
1141173
21636389
352977
3673406
1525
1011112
-1527014
-1096218
136
26844524
5423
23801939
34
12391069
17170663
20497237
-45
-144
7671433
67246
13308098
169752
950078
19617721
10133130
14590385
3176011
17775985
8831002
8103052
16205022
24478903
17301102
414763
355187
28113909
298696
26504049
22715275
2546050
2733
21186695
72421
28812676
16459333
138
10276807
24646093
1389
-232
10800208
102250
7479266
10329162
9131
425254
15612876
30381521
-4996469

1868368343

--- Part Two ---

Of course, it would be nice to have even more history included in your report. Surely it's safe to just extrapolate backwards as well, right?

For each history, repeat the process of finding differences until the sequence of differences is entirely zero. Then, rather than adding a zero to the end and filling in the next values of each previous sequence, you should instead add a zero to the beginning of your sequence of zeroes, then fill in new first values for each previous sequence.

In particular, here is what the third example history looks like when extrapolating back in time:
```
5  10  13  16  21  30  45
  5   3   3   5   9  15
   -2   0   2   4   6
      2   2   2   2
        0   0   0
```
Adding the new values on the left side of each sequence from bottom to top eventually reveals the new left-most history value: 5.

Doing this for the remaining example data above results in previous values of -3 for the first history and 0 for the second history. Adding all three new values together produces 2.

Analyze your OASIS report again, this time extrapolating the previous value for each history. What is the sum of these extrapolated values?

In [42]:
grand_total = 0
for line in lines:
    vals_array = []
    values = line.replace("\n","").split(" ")
    values = [int(x) for x in values]
    vals_array.append(values)
    prev_line = values
    while(1):
        next_line = create_diff_list(prev_line)
        vals_array.append(next_line)
        if all_zeros(next_line):
            break
        prev_line=next_line
    prev_val = 0
    for i in range(len(vals_array)-2,0,-1):
        next_val = vals_array[i][0] - prev_val
        prev_val = next_val
    total = vals_array[0][0]-next_val
    print(total)
    grand_total += total
grand_total

4
10
1
9
4
14
4
-1
10
5
5
-2
1
10
11
1
6
11
8
-2
8
11
15
3
8
14
9
11
10
6
8
-4
2
1
14
13
8
7
10
7
10
7
6
11
7
-5
1
-2
1
7
6
-5
1
6
9
-4
14
12
6
4
-5
10
-2
10
15
3
-1
-3
2
0
2
-2
-2
13
6
7
3
-4
9
2
3
6
-4
12
-4
11
-5
-1
15
4
8
14
-1
15
4
4
5
4
0
-4
-4
5
-4
-5
15
-3
1
-2
7
11
14
-2
6
11
1
15
1
10
3
5
15
1
4
9
-2
10
3
-4
-5
6
3
8
-4
2
5
6
9
1
1
14
15
11
8
9
4
-4
14
6
-2
4
-3
0
5
12
-2
15
-1
-1
-1
0
3
1
0
8
1
15
9
14
-2
4
12
4
-3
-3
-3
8
-2
13
6
8
12
5
13
8
8
15
6
8
-2
14
10
5
5
14
8
12
5
13
-2
5

1022